@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    
}

:root {
    --main-color: #fe5b3d;
    --text-color: #444;
    --second-color: #ffac38;
    --gradient-color: linear-gradient(90deg, #fe5b3d, #feb344);
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 5rem;
}

section {
    padding: 50px 100px;
}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
}

.logo img {
    width: 60px;
}

.navbar {
    display: flex;
}

.navbar li {
    display: relative;
}
.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover::after {
    width: 100%;
    
}
.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: var(--gradient-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.navbar a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 0.5rem;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.header-btn a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.header-btn .Sign-in {
    background: #474fa0;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 0.5rem;
}
.header-btn .Sign-in:hover {
    background: var(--main-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 0.5rem;
}
.header-btn .Sign-up {
    background: #474fa0;
    border-radius: 0.5rem;
    color: #fff;
    margin-left: 10px;
}
.home {
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.home-img img {
    width: 100%;
}

.home-text span {
    font-size: 1.5rem;
    font-weight: 500;
}

.home-text h1 {
    font-size: 3rem;
}

.home-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.5rem;
}
